<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img src="../../../assets/logo.png" width="112" height="28">
    </a>
  </div>

  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-start">
      <a href="" class="navbar-item">Home</a>
      <a *ngIf="user !== null" [routerLink]="['questions']" class="navbar-item">Preguntas</a>
    </div>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <div *ngIf="user === null">
          <a class="button is-primary" (click)="signIn()">
            <strong>Sign in</strong>
          </a>
        </div>
        <div *ngIf="user !== null">
          <a class="button is-light" (click)="signOut()"> Log out </a>
        </div>
        <!--<a class="button is-light"> Log out </a>-->
      </div>
    </div>
  </div>
</nav>
